In [4]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import IncrementalPCA
import pickle
import classes.constantes

In [3]:
skip_func = lambda x: x > 0 and np.random.rand() > 0.03
#df = pd.read_csv('../BASE/IA_TUDO_EM_DIA_CONTROLE.txt', sep=';', skiprows=skip_func)
df = pd.read_csv('../BASE/IA_TUDO_EM_DIA_CONTROLE.txt', sep=';')

In [5]:
df.renda = df.renda.str.replace(',', '.').astype(float)

In [6]:
df.renda.count()

426193

In [8]:
df.dt_rec.fillna(0, inplace=True)

In [8]:
with open('resultados/extra_threes.pickle', 'rb') as file:
    df = pickle.load(file)
print(df)

FileNotFoundError: [Errno 2] No such file or directory: 'resultados/extra_threes.pickle'

In [6]:
with open('variaveis/previsores.pickle', 'rb') as file:
    df2 = pickle.load(file)

In [12]:

df3 = df2[:1000]
df3.to_csv('teste/base_teste.csv')

In [7]:
df2

,co_ope,dt_base,vlr_base,dt_nasc,sexo,renda,renda_liq,dt_relac,co_cart,co_prof,cep
0,60,44613,1164.12,27553.0,0,1252.00,700.00,38872.0,0,151,3213
1,56,44613,1558.54,28634.0,0,2000.00,2000.00,37444.0,0,315,5040
2,60,44613,1816.37,28634.0,0,2000.00,2000.00,37444.0,0,315,5040
3,17,44857,1936.85,28634.0,0,2000.00,2000.00,37444.0,0,315,5040
4,16,44857,1061.43,33171.0,0,0.00,0.00,40989.0,0,204,24986
...,...,...,...,...,...,...,...,...,...,...,...
14237005,6,44857,1279.93,34252.0,0,2376.43,2192.26,41581.0,0,132,24739
14237006,17,44843,524.40,34252.0,0,2376.43,2192.26,41581.0,0,132,24739
14237007,60,44634,1454.23,28885.0,0,1806.36,1104.66,41140.0,0,198,4957
14237008,6,44857,1961.08,28285.0,0,4551.42,3876.00,41217.0,0,315,5045
14237009,16,44650,1085.29,33561.0,0,2238.20,1978.36,43179.0,0,96,24116

In [16]:
import pandas as pd
dfs = pd.read_csv('resultados/GaussianNB.csv', sep=',')
dfs

,Unnamed: 0,co_ope,dt_base,vlr_base,dt_nasc,sexo,renda,renda_liq,dt_relac,co_cart,co_prof,cep,score,predicao
0,0,60,44613,1164.12,27553.0,0,1252.00,700.00,38872.0,0,151,3213,0.302990,0
1,1,56,44613,1558.54,28634.0,0,2000.00,2000.00,37444.0,0,315,5040,0.246672,0
2,2,60,44613,1816.37,28634.0,0,2000.00,2000.00,37444.0,0,315,5040,0.251808,0
3,3,17,44857,1936.85,28634.0,0,2000.00,2000.00,37444.0,0,315,5040,0.048124,0
4,4,16,44857,1061.43,33171.0,0,0.00,0.00,40989.0,0,204,24986,0.079503,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,7,44857,566.93,34318.0,0,0.00,0.00,41919.0,0,475,7267,0.027908,0
996,996,7,44857,2058.02,34318.0,0,0.00,0.00,41919.0,0,475,7267,0.028347,0
997,997,6,44857,4137.12,23602.0,0,0.00,0.00,38441.0,0,241,1551,0.022356,0
998,998,6,44901,3310.34,18972.0,0,5005.72,2953.04,39858.0,0,277,14646,0.007070,0
999,999,6,44901,5149.36,18972.0,0,5005.72,2953.04,39858.0,0,277,14646,0.006892,0

In [25]:
dfs.query('score > 0.3').sort_values('score', ascending=False)

,Unnamed: 0,co_ope,dt_base,vlr_base,dt_nasc,sexo,renda,renda_liq,dt_relac,co_cart,co_prof,cep,score,predicao
553,553,56,44613,1617.11,32373.0,0,5400.00,5400.00,40778.0,0,182,22457,0.460114,0
287,287,60,44613,6437.16,27725.0,0,8425.00,6740.00,38896.0,0,98,14151,0.457064,0
782,782,56,44613,711.44,32306.0,0,0.00,0.00,40709.0,0,76,22833,0.439386,0
920,920,58,44613,1004.78,34196.0,0,3568.55,3568.55,41696.0,0,132,25048,0.439076,0
664,664,58,44613,1171.89,31962.0,0,5330.00,4521.22,39337.0,0,136,13303,0.438722,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,795,60,44613,1939.42,24624.0,0,2074.89,1835.51,39665.0,0,132,15165,0.304765,0
165,165,58,44613,4712.19,28607.0,0,0.00,0.00,39112.0,0,163,5393,0.304097,0
0,0,60,44613,1164.12,27553.0,0,1252.00,700.00,38872.0,0,151,3213,0.302990,0
811,811,60,44613,5230.19,29043.0,0,0.00,0.00,43024.0,0,158,3182,0.300902,0
534,534,58,44613,1661.78,28735.0,0,0.00,0.00,37874.0,0,151,5767,0.300890,0

In [9]:
df3 = df2[:1000]

KeyboardInterrupt:

In [7]:
prev = pd.DataFrame(df)

In [8]:
prev

,resultados,inicio,fim
DecisionTree,"{'accuracy': 0.9044, 'cv_accuracy': 0.90622857...",2024-01-05 09:07:36,2024-01-05 09:09:30
RandomForest,"{'accuracy': 0.9482333333333334, 'cv_accuracy'...",2024-01-05 09:07:36,2024-01-05 09:09:30

In [ ]:
df.renda.mean()

4292959140297.0483