In [4]:
import numpy as np
import pandas as pd
from interativo_tratamento_variaveis import InterativoTratamentoVariaveis
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import IncrementalPCA
import pickle
import constantes

In [3]:
skip_func = lambda x: x > 0 and np.random.rand() > 0.03
df = pd.read_csv('../BASE/IA_TUDO_EM_DIA_CONTROLE.txt', sep=';', skiprows=skip_func)

In [5]:
df.renda = df.renda.str.replace(',', '.').astype(float)

In [6]:
df.renda.count()

426193

In [7]:
df.head()

,ID_VINCULO,co_ope,dias_atraso,dt_rec,dt_inc,dt_base,vlr_avista,vlr_base,vlr_pg,ic_14004,...,ic_tele,ic_sombreado,dt_nasc,sexo,renda,renda_liq,dt_relac,co_cart,co_prof,cep
0,{AB95867B-7F88-4D5E-8E9F-815B57551F48},203,1210.0,NaN,2022-10-26,2022-10-25,"350,44999999999999","1481,0899999999999",NaN,False,...,False,0,1992-01-19,M,2756.56,"1921,42",2009-02-06,GV01,710.0,89990000.0
1,{A21643D4-B428-4245-84A1-73E94F0FC578},8701,1648.0,NaN,2022-02-22,2022-02-23,0,"175,68000000000001",NaN,False,...,False,0,1991-02-05,F,0.00,",00",2010-04-28,GV01,411.0,86310000.0
2,{AE0FD9F0-5699-4EA2-961A-7A36A129B37D},195,4321.0,NaN,2022-10-26,2022-10-25,"751,88","5786,6000000000004",NaN,False,...,False,0,1978-10-08,M,2500.00,"2500,00",1996-03-05,GC01,102.0,29216090.0
3,{5FDCCFAD-8628-4E8F-B329-64385AB52B3C},191,2344.0,NaN,2022-10-26,2022-10-25,"979,66999999999996","7535,6999999999998",NaN,False,...,False,0,1962-11-02,M,4000.00,"4000,00",2012-03-23,GC01,411.0,13295000.0
4,{5EE2749E-9583-4D30-A525-8DE344E9D9C6},191,1950.0,NaN,2022-10-26,2022-10-25,"421,75","1940,74",NaN,False,...,False,0,1969-10-18,M,0.00,",00",2008-09-08,GV01,549.0,24734315.0

In [8]:
df.dt_rec.fillna(0, inplace=True)

In [6]:
with open('../algoritimos/resultado_completos_metrica_algoritimos.pickle', 'rb') as file:
    df = pickle.load(file)

In [7]:
prev = pd.DataFrame(df)

In [8]:
prev

,resultados,inicio,fim
DecisionTree,"{'accuracy': 0.9044, 'cv_accuracy': 0.90622857...",2024-01-05 09:07:36,2024-01-05 09:09:30
RandomForest,"{'accuracy': 0.9482333333333334, 'cv_accuracy'...",2024-01-05 09:07:36,2024-01-05 09:09:30

In [ ]:
df.renda.mean()

4292959140297.0483